@font-face {
    font-family: "CalibreWeb";
    font-display: swap;
    src: url("../fonts/CalibreWeb-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "CalibreWeb";
    font-display: swap;
    src: url("../fonts/CalibreWeb-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "CalibreWeb";
    font-display: swap;
    src: url("../fonts/CalibreWeb-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
} 
html {
    overflow-x: hidden;
    font-size: 21px;
}
* {
    box-sizing: border-box;
    font-family: 'CalibreWeb', sans-serif!important;
    text-decoration: none;
    margin: 0;
    padding: 0; 
}
ul,li{
    list-style:none;
}

.serviceLogo {
    max-width: 1200px;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.serviceLogo__logoGroupElements {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}
.serviceLogo__logo {
    display: inline-block;
    background: #fff;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    font-family: 'CalibreWeb', sans-serif!important;
    color: #222;
    position: relative;
    bottom: 8px;
    z-index: 1;
    padding: 26px 0 14px;
    margin: 1px 0;
    transition: all .2s ease-out;
    width: fit-content;
}
.serviceLogo__logo:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 65%;
    height: 15px;
    z-index: -1;
    transition: width .3s ease-out;
    background: transparent linear-gradient(90deg,#02c1ea,#008ad4 100%,#008ad4 0) 0 0 no-repeat padding-box;
}
.nav__mainMenu {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 40px;
}
.nav__item {
    transition: all .2s ease-out;
    padding-top: 12px;
}
.nav__item:first-child .nav__itemName {
    margin: 0 10px 0 0;
}

.nav__itemName:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #008ad4;
    transition: all .3s ease-out;
    transform: scale(0);
}



.nav__mainMenu {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 40px;
}
.nav__item, .nav__overlay {
    position: relative;
}
.nav__item {
    transition: all .2s ease-out;
    padding-top: 12px;
}
.nav__item:hover .nav__overlayList {
    display: block;
    margin-top: 1px;
}
.nav__item:hover .nav__itemName:after {
    transform: scale(1);
}
.nav__item:first-child .nav__itemName {
    margin: 0 10px 0 0;
}
.nav__itemName {
    display: block;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    font-family: 'CalibreWeb', sans-serif!important;
    margin: 0 10px;
    text-align: center;
    color: #222;
    text-transform: uppercase;
    transition: color .2s ease-out;
    white-space: nowrap;
    height: 27px;
}
.nav__itemName:hover {
    color: rgba(34, 34, 34, .8);
}
.nav__itemName:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #008ad4;
    transition: all .3s ease-out;
    transform: scale(0);
}
.nav__overlayList {
    display: none;
    position: absolute;
    z-index: 111;
    width: auto;
    left: 0;
}
.nav__list {
    width: auto;
    display: flex;
    padding: 10px;
    max-height: 350px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: start;
}
@media (-ms-high-contrast:none) {
    .nav__list {
    flex-direction: inherit;
}
}.nav__list:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    background-color: #fff;
    z-index: 0;
    top: 0;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .14);
}
.nav__firstLevelItem {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'CalibreWeb', sans-serif!important;
}
.nav__secondLevelItem, .nav__thirdLevelItem {
    font: 400 16px/16px ;
}
.nav__thirdLevelItem {
    color: #999;
    margin-left: 15px;
}
.nav__firstLevelItem, .nav__secondLevelItem {
    color: #222;
}
.nav__firstLevelItem, .nav__secondLevelItem, .nav__thirdLevelItem {
    z-index: 1;
    margin-right: 28px;
    padding: 4px 0;
    width: 218px;
}
@media (-ms-high-contrast:none) {
    .nav__firstLevelItem, .nav__secondLevelItem, .nav__thirdLevelItem {
    float: left;
}
}.nav__firstLevelItem a, .nav__secondLevelItem a, .nav__thirdLevelItem a {
    transition: color .2s ease-out;
}
.nav__firstLevelItem a:hover, .nav__secondLevelItem a:hover, .nav__thirdLevelItem a:hover {
    color: rgba(34, 34, 34, .8);
}
.nav__itemBox {
    display: flex;
    flex-direction: column;
}
@media (-ms-high-contrast:none) {
    .nav__itemBox {
    flex-direction: inherit;
}
}.nav__lastItem {
    margin-bottom: 15px;
}
.nav__active {
    transition: all .2s ease-out;
}
.nav__active, .nav__active:hover {
    color: #008ad4;
}

* .nav__dropDownButton:hover {
    cursor: pointer;
}


.nav__dropDownOverlay {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .14);
    z-index: 2;
}
.nav__dropDownList {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 20px 10px 20px 0;
    height: 400px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: start;
    overflow: hidden;
}
.nav__dropDownList .nav__firstLevelItem {
    text-transform: uppercase;
}
.nav__dropDownList .nav__secondLevelItem, .nav__dropDownList .nav__thirdLevelItem {
    text-transform: inherit;
    font: 400 16px/22px ;
}
.nav__dropDownList .nav__firstLevelItem, .nav__dropDownList .nav__secondLevelItem, .nav__dropDownList .nav__thirdLevelItem {
    width: 218px;
}
.main-navigation {
    position: relative;
    left: 0;
    width: 100%;
    z-index: 10602;
    background: #fff;
    transform: translateY(0);
    transition: all .5s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
.main-navigation__svg-name {
    display: none;
}
.main-navigation__logo {
    height: 28px;
    margin-right: 30px;
}
.main-navigation__logo .main-navigation__icon {
    height: 24px;
    max-width: 101px;
}
.main-navigation__logo a {
    display: block;
    padding-top: 1px;
}
.main-navigation__inner-wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 40px;
}
.main-navigation__nav .main-navigation__link {
    font: 400 14px/14px ;
    color: #444;
    transition: all .2s ease-out;
}
.main-navigation__nav .main-navigation__link:hover {
    opacity: .8;
}
.main-navigation__nav .main-navigation__lists {
    display: flex;
    align-items: center;
    height: 40px;
    flex-wrap: wrap;
    width: 100%}
.main-navigation__nav .main-navigation__list-item {
    padding: 10px;
    cursor: pointer;
    height: 100%}
.main-navigation__nav .main-navigation__list-item--isHighlighted {
    background-color: #f5f5f5;
}
.main-navigation__nav .main-navigation__list-item--isHighlighted .main-navigation__link {
    font-weight: 700;
    color: #222;
}
.main-navigation__shortcuts {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    order: 2;
}
.main-navigation__shortcuts .main-navigation__lists {
    display: flex;
    height: 40px;
}
.main-navigation__shortcuts .main-navigation__link {
    padding: 10px;
    display: flex;
    align-items: center;
    font: 500 14px/17px ;
    letter-spacing: 0;
    color: #444;
    text-transform: uppercase;
}
.main-navigation__shortcuts .main-navigation__icon {
    height: 15px;
}
.main-navigation__shortcuts .main-navigation__list-item {
    cursor: pointer;
    order: 1;
    margin-left: 6px;
}
.main-navigation__shortcuts .main-navigation__list-item--environment {
    background: transparent linear-gradient(135deg, #459c5f, #347a4c) 0 0 no-repeat padding-box;
    order: 3;
}
.main-navigation__shortcuts .main-navigation__list-item--environment .main-navigation__link {
    color: #fff;
}
.main-navigation__shortcuts .main-navigation__list-item--search {
    order: 2;
    width: 40px;
    justify-content: center;
}
.main-navigation__login {
    position: relative;
}
.main-navigation__login span {
    margin-left: 8px;
}
.main-navigation__login .main-navigation__login {
    text-transform: none;
}
.main-navigation__login .main-navigation__login_box {
    position: absolute;
    background: #fff;
    display: none;
    transition: all .3s ease-in-out;
    top: 40px;
    right: 0;
}
.main-navigation__login .main-navigation__login_box ul {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
.main-navigation__login.main-navigation__login--open .main-navigation__login_box, .main-navigation__login:hover .main-navigation__login_box {
    display: block;
}
.main-navigation__login .main-navigation__logout {
    font: 500 14px/17px ;
    width: 130px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-navigation__nav .main-navigation__list-item, .main-navigation__shortcuts .main-navigation__list-item {
    display: flex;
    position: relative;
    align-items: center;
}
.main-navigation__dropdown {
    position: relative;
}

* .main-navigation__arrow-small:hover {
    cursor: pointer;
}
.main-navigation .navigation-lists__outer-nav {
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 3px -2px #d6d6d6;
    overflow-y: auto;
    display: none;
    max-height: calc(100vh - 40px);
    padding-left: 17px;
}
.cap--open {
    position: relative;
}
.cap--open:after {
    content: "";
    background: rgba(2, 2, 2, .6);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 20;
}
.cap--open .main-navigation__arrow-small {
    transform: rotate(180deg);
}
.cap--open .navigation-lists__outer-nav {
    display: block;
}
.cap--open .navBox {
    display: none;
}
.navigation-lists {
    margin: auto;
    max-width: 1200px;
    width: 100%;
}
.navigation-lists__icon {
    margin-right: 8px;
}
.navigation-lists__row--site {
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0;
}
.navigation-lists__row--site .navigation-lists__link {
    font: 900 18px/30px ;
    color: #222;
    transition: color .2s ease-out;
}
.navigation-lists__row--site .navigation-lists__link:hover {
    color: rgba(34, 34, 34, .8);
}
.navigation-lists__row--site .navigation-lists__list-item {
    padding: 0 13px;
}
.navigation-lists__row--site .navigation-lists__list-item:first-child {
    padding-left: 0;
    margin-left: 0;
}
.navigation-lists__row--site .navigation-lists__lists {
    display: flex;
}
.navigation-lists__row--app {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    font-family: 'CalibreWeb', sans-serif!important;
    color: #222;
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0;
}
.navigation-lists__row--app .navigation-lists__list-item {
    margin-right: 25px;
}
.navigation-lists__row--app .navigation-lists__link {
    display: flex;
    align-items: center;
}
.navigation-lists__row--app .navigation-lists__link span {
    margin-left: 8px;
    text-transform: uppercase;
}
.navigation-lists__row--app .navigation-lists__lists {
    display: flex;
}
.navigation-lists__row--linked {
    display: block;
    color: #222;
    
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    font-family: 'CalibreWeb', sans-serif!important;
    width: 100%;
    display: flex;
    padding-bottom: 25px;
    column-count: 4;
    border-bottom: 1px solid #e5e5e5;
}
.navigation-lists__row--popular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}
.navigation-lists__row--popular .navigation-lists__column {
    line-height: 0;
    display: block;
}
.navigation-lists__row--popular .navigation-lists__lists {
    margin-right: -30px;
}
.navigation-lists__row--popular .navigation-lists__link {
    font-size: 16px;
    line-height: 25px;
    font-family: 'CalibreWeb', sans-serif!important;
}
.navigation-lists__smalltitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'CalibreWeb', sans-serif!important;
    
    color: #222;
    text-transform: uppercase;
    padding: 16px 0;
}
.navigation-lists__smalltitleSVG {
    display: none;
}
.navigation-lists__group {
    font-size: 16px;
    line-height: 25px;
    font-family: 'CalibreWeb', sans-serif!important;
    
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    padding: 10px 0;
    width: 218px;
    margin-right: 28px;
}
.navigation-lists__row--popular .navigation-lists__lists .navigation-lists__list-item {
    width: 218px;
    margin-right: 28px;
    display: inline-block;
}
.navigation-lists__row--popular .navigation-lists__lists .navigation-lists__link {
    line-height: 22px;
}
.navigation-lists__fold {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}
.navigation-lists__fold_button {
    color: #222;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    font-family: 'CalibreWeb', sans-serif!important;
}
.navigation-lists__fold_button~svg {
    cursor: pointer;
}
.navigation-lists__lists {
    
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'CalibreWeb', sans-serif!important;
}
.navBox {
    position: relative;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    box-shadow: inset 0 -1px #e5e5e5;
    transform: translateY(0);
    transition: all .6s ease-out;
}
.main-navigation__link {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'CalibreWeb', sans-serif!important;
    color: #444;
    transition: all .2s ease-out;
}
.mobl{
    display: none;
    margin-left: 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.mobl > svg{
    max-width: 11px;
}
.man{
    display: none;
    margin-left: 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.man > svg{
    max-width: 20px;
}
.mobl-menu{
    display: none;
    width: 30px;
    height: 20px;
    
}

@media (max-width: 1100px) {
    .main-navigation__nav{
        display: none;
    }
    .main-navigation__shortcuts .main-navigation__lists{
        display: none;
    }
    .main-navigation__shortcuts .main-navigation__list-item .main-navigation__list-item--mail{
        display: none;
    }
    .man{
        margin-left: auto;
        display: flex;
    }
    .mobl{
        display: flex;
        border-left: 1px solid #e5e5e5;
        padding: 12px;
    }
    .main-navigation__logo{
        width: 100%;
    }
    .nav__item, .nav__overlay{
        display: none;
    }
    .serviceLogo__logo{
        font-size: 30px;
        line-height: 34px;
        font-family: 'CalibreWeb', sans-serif!important;
        color: #222;
        position: relative;
        top: -3px;
        white-space: nowrap;
        padding: 0;
    }
    .serviceLogo__logo:after {
        content: "";
        position: absolute;
        top: 24px;
        left: 0;
        width: 65%;
        height: 9px;
        z-index: -1;
        background: transparent linear-gradient(90deg,#02c1ea,#008ad4 100%,#008ad4 0) 0 0 no-repeat padding-box;
    }
    .serviceLogo__logoGroupElements {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 60px;
        z-index: 10;
        background-color: #fff;
        
    }
    .serviceLogo {
        display: flex;
        flex-direction: column;
        background: #fff;
        width: 100%;
        z-index: 10600;
        transform: translateY(0);
        transition: transform .3s ease-out;
        border-bottom: 1px solid #e5e5e5;
        height: 60px;
    }
    .mobl-menu{
        display: flex;

    }
    .navBox{
        padding: 0;
        display: flex;
        align-items: center;
    }
}
